  #gallery img {
   height: 75vw;
   object-fit: cover;
}
 @media (min-width: 576px) {
   #gallery img {
     height: 20vw;
  }
}
 @media (min-width: 992px) {
   #gallery img {
     height: 10vw;
  }
}
 .carousel-item img {
   height: 60vw;
   object-fit: cover;
}
 @media (min-width: 576px) {
   .carousel-item img {
     height: 350px;
  }
}
 #gallery.custom {
   padding: 0 15px;
}
 #gallery.custom img {
   display: block;
   margin: 15px 0;
   border-radius: 300px 30px 300px 300px;
}
 #gallery.custom img:hover {
   border-radius: 30px 90px 30px 30px;
}
 #cu_prebatch_image_modal.custom .modal-content {
   background: none;
   border: none;
}
 #cu_prebatch_image_modal.custom .modal-header {
   border: none;
}
 #cu_prebatch_image_modal.custom .modal-header button {
   background: none;
   border-radius: 100px 100px 0 0;
   padding: 5px 10px;
   opacity: 1;
   position: relative;
   top: 3px;
   border: solid 2px white;
}
 @media (min-width: 992px) {
   #cu_prebatch_image_modal.custom .modal-header button {
     top: 15px;
  }
}
 #cu_prebatch_image_modal.custom .modal-header button:hover {
   top: 3px;
}
 #cu_prebatch_image_modal.custom .modal-header span {
   color: white;
}
 #cu_prebatch_image_modal.custom .modal-body {
   padding: 0;
   border: none;
   position: relative;
}
 #cu_prebatch_image_modal.custom .modal-body::before, #cu_prebatch_image_modal.custom .modal-body::after {
   content: '';
   height: 50px;
   width: 50px;
   display: block;
   position: absolute;
   background: white;
   border-radius: 3px 10px;
}
 @media (min-width: 768px) {
   #cu_prebatch_image_modal.custom .modal-body::before, #cu_prebatch_image_modal.custom .modal-body::after {
     border-radius: 3px 30px;
     height: 100px;
     width: 100px;
  }
}
 #cu_prebatch_image_modal.custom .modal-body::before {
   top: -5px;
   left: -5px;
}
 @media (min-width: 768px) {
   #cu_prebatch_image_modal.custom .modal-body::before {
     top: -15px;
     left: -15px;
  }
}
 #cu_prebatch_image_modal.custom .modal-body::after {
   bottom: -5px;
   right: -5px;
   z-index: -1;
}
 @media (min-width: 768px) {
   #cu_prebatch_image_modal.custom .modal-body::after {
     bottom: -15px;
     right: -15px;
  }
}
 #cu_prebatch_image_modal.custom .modal-footer {
   border: none;
   margin-top: 60px;
}
 @media (min-width: 992px) {
   #cu_prebatch_image_modal.custom .modal-footer {
     margin-top: 40px;
  }
}
 #cu_prebatch_image_modal.custom .modal-footer .btn {
   margin: auto;
   border: solid 2px white;
   background: none;
   text-transform: uppercase;
   font-size: 0.8em;
   letter-spacing: 0.1em;
   font-weight: bold;
   padding: 0.2em 0.7em;
}
 #cu_prebatch_image_modal.custom .modal-footer .btn:hover {
   background: white;
   color: black;
}
 #cu_prebatch_image_modal.custom .carousel-control-prev, #cu_prebatch_image_modal.custom .carousel-control-next {
   font-size: 2em;
   top: auto;
   opacity: 1;
   bottom: -52px;
}
 @media (min-width: 768px) {
   #cu_prebatch_image_modal.custom .carousel-control-prev, #cu_prebatch_image_modal.custom .carousel-control-next {
     top: 0;
     opacity: 0.5;
     bottom: 0;
  }
}
 #cu_prebatch_image_modal.custom .carousel-control-next-icon, #cu_prebatch_image_modal.custom .carousel-control-prev-icon {
   height: 30px;
   width: 30px;
}
 @media (min-width: 768px) {
   #cu_prebatch_image_modal.custom .carousel-control-prev {
     left: -90px;
  }
}
 @media (min-width: 768px) {
   #cu_prebatch_image_modal.custom .carousel-control-next {
     right: -90px;
  }
}
 #cu_prebatch_image_modal.custom .carousel-indicators {
   bottom: -60px;
}
 @media (min-width: 992px) {
   #cu_prebatch_image_modal.custom .carousel-indicators {
     bottom: -30px;
  }
}
 #cu_prebatch_image_modal.custom .carousel-indicators li {
   height: 30px;
   border-radius: 100px;
   background: none;
   border: solid 2px white;
}
 @media (min-width: 992px) {
   #cu_prebatch_image_modal.custom .carousel-indicators li {
     height: 10px;
  }
}
 #cu_prebatch_image_modal.custom .carousel-indicators li:hover {
   background: white;
}
 #cu_prebatch_image_modal.custom .carousel-indicators li.active {
   background: white;
}
/* The switch - the box around the slider */
 .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}
 @media (min-width: 576px) {
   .switch {
     margin: 0;
  }
}
/* Hide default HTML checkbox */
 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
}
/* The slider */
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}
 .slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: 0.4s;
   transition: 0.4s;
}
 input:checked + .slider {
   background-color: #2196f3;
}
 input:focus + .slider {
   box-shadow: 0 0 1px #2196f3;
}
 input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
}
/* Rounded sliders */
 .slider.round {
   border-radius: 34px;
}
 .slider.round:before {
   border-radius: 50%;
}
 .switch-wrap {
   text-align: center;
   background-color: #b1fbc1;
   padding: 30px;
   border-radius: 3px;
   margin: 30px 0 0;
}
 @media (min-width: 576px) {
   .switch-wrap {
     position: fixed;
     bottom: 0;
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     width: 100%;
     justify-content: center;
     padding: 10px;
  }
}
 .switch-text {
   display: block;
   margin: 0.5em;
}
 @media (min-width: 576px) {
   .switch-text {
     margin: 0 1em 0 0;
  }
}