.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.25rem 1.25rem 0.25rem 1rem;
}

.card-title {
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  font-size: 1rem;
  color: rgba(51,69,118,1);
}

.card-header:first-child {
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f8f9fc;
  border-top: 1px solid #e3e6f0;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.35rem - 1px) calc(0.35rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
  flex-shrink: 0;
  width: 100%;
}



.card-deck .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .card-deck .card {
    flex: 1 0 0%;
    margin-right: 0.75rem;
    margin-bottom: 0;
    margin-left: 0.75rem;
  }
}

.card-group > .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.accordion > .card {
  overflow: hidden;
}

.accordion > .card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion > .card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion > .card > .card-header {
  border-radius: 0;
  margin-bottom: -1px;
}


.coaching.active .epic.h2:after{
    font-family: 'Font Awesome 5 Pro';
    content: "\f058";
    margin-left: 10px;
    color: #36b3b9;
   }

   .team-epic-profile{
        padding: 2rem 0;
    border-top: 1px solid #e9e9e9;
    margin-top: 2rem;
}
.team-epic-profile-extra{
  padding: 2rem 1rem;
}
.profile-edit{
  color: #36b3b9;
  font-size: 1.4rem;  
}

.progress .progress-value p.primary{
  height: 2px;
  font-size: 1.2rem;

}
.progress .progress-value p.secondary{
  font-size: .65rem;
}

/* begin profile */
.my-epic-profile{
  padding: 2rem;
}
form.my-epic-profile{
  padding: 1rem;
}

.my-epic-profile .data-text {
    font-size: .75rem !important;
}

.my-epic-profile .img-profile {
    width: 8.5rem; 
    padding-top: .6rem;
}

.my-epic-profile .name-profile {
    font-size: 1.5rem;
    font-weight: bold;
    color: #36b3b9;
}
.my-epic-profile .business-title-profile{
        font-size: .95rem;
        font-style: italic;
}

.my-epic-profile .container {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.my-epic-profile .card{
  border: none !important;
  padding: 0;
}
.my-epic-profile .card-header {
    padding: 0.75rem 0;
}

.my-epic-profile .section {
    color: #36b3b9;
    font-size: .85rem;
}
.my-epic-profile .section:hover {
    color: #44484b;
    text-decoration: none;
}
.my-epic-profile .section:active {
    color: #44484b;
    text-decoration: none;
}
.my-epic-profile .section:focus {
    color: #44484b;
    text-decoration: none;
}

.my-epic-profile.swot {
      padding: 0 .75rem;

}
.my-epic-profile.swot .header{
      margin-top: 1rem;
      padding: .6rem;
    text-align: center;
}
.my-epic-profile.swot .header.strengths{
  background-color: rgb(52, 152, 219, 1);
  color:#ffffff;
  margin-right: 5px;
  
} 
.my-epic-profile.swot .header.weaknesses{
  background-color: rgb(243, 156, 18, 1);
  color:#ffffff;
  
}
.my-epic-profile.swot .header.opportunities{
  background-color: rgb(46, 204, 113, 1);
  color:#ffffff;
  margin-left: 5px;
}
.my-epic-profile.swot .header.threats{
  background-color: rgb(142, 68, 173, 1);
  color:#ffffff;
} 

.my-epic-profile.swot .body{
      margin-bottom: 1rem;
      padding: .6rem;
      font-size: .85rem;
}
.my-epic-profile.swot li{
      border-bottom: 1px solid;
}
.my-epic-profile.swot .body.strengths{
  margin-right: 5px;

} 
.my-epic-profile.swot .body.weaknesses{
  background-color: rgb(243, 156, 18, .4); 
}
.my-epic-profile.swot .body.opportunities{
  margin-left: 5px;
}
.my-epic-profile.swot .body.threats{
  background-color: rgb(142, 68, 173, .4);
} 


/* end profile */


.tab-accordion .nav-tabs {
    display:none;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #ffffff #ffffff #e3e6f0 #ffffff;
}

.tab-accordion .nav-link {
    background-color: #efefef;
    color: #6e6e6e;
    border: 1px solid;
    border-color: #e3e6f0 #e3e6f0 #e3e6f0 #dfdfdf;
}

.tab-accordion .nav-link:hover {
   
    border-bottom-color: #ffffff;
}
.tab-accordion .nav-link:active {
   
    border-bottom-color: #ffffff;
}
.tab-accordion .nav-link:focus {
   
    border-bottom-color: #ffffff;
}

.tab-accordion .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #36b3b9;
    background-color: #ffffff;
    border-radius: 0;
    border-bottom-color: #ffffff;

}

.tab-accordion .collapse {
    border: 1px solid;
    border-color: #ffffff #e3e6f0 #e3e6f0 #e3e6f0;
    margin: 0 .1rem;
}


.tab-accordion .my-epic-profile .collapse {
    border: none;
    margin: 0;
}


.tab-accordion .my-epic-profile.card .card-header{
  border-bottom: 0;
}
@media(min-width:768px) {
    .tab-accordion .nav-tabs {
        display: flex;
    }
    
    .tab-accordion .card {
        border: none;
    }

    .tab-accordion .card .card-header {
        display:none;
    }  

    .tab-accordion .card .collapse{
        display:block;
    }

     .tab-accordion .my-epic-profile.card .card-header {
        display:flex;
    }  
    .tab-accordion .my-epic-profile.card .collapse{
        display:none;
    }
    .tab-accordion .my-epic-profile.card .collapse.show{
        display:block;
    }
}

@media(max-width:767px){
    .tab-accordion .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
}

.epic-bottom{
    margin-top: .75rem;
}
.epic-text-sm{
  font-size: .75rem;
}

.row.epic {
    padding: .5rem .5rem;
}


* {
  box-sizing: border-box;
}
.menu-link.active {
  text-align: center !important;
  background-color: #36b3b9;
}
.menu-link.active:after {
  content: '';
  display: block;  
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-top: 1rem solid #36b3b9;
  border-right: 3.5rem solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 3.5rem solid transparent;
}

.cropped{
    width: 750px; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
}

.card-img-top {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 14rem;
}

.card-img-left {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
}

.ranking{
      direction: rtl;/* right to left */
      unicode-bidi: bidi-override;/* bidi de bidireccional */
  }

.ranking label{ color:grey;font-size: 1.2rem;}

.ranking input[type = "radio"]{ display:none;}

.ranking label:hover,
.ranking label:hover ~ label {
  color: orange;
}

.ranking input[type="radio"]:checked ~ label {
  color: orange;
}

.card-header.post{
  border-bottom:0;
}

.card-footer.post{
  background: transparent;
    border-top: 0;
    font-size: 1.25rem;
    padding-top: 0;
}

.card-footer.post p{
  margin-bottom: 0;
  font-size: .85rem
}


.card-footer.post p i{
 font-size: 1.25rem
}

span.light {
  color: rgba(45, 41, 38, 0.6);
}

div[class*="col-"] {
    float: left;
}

.btn-epic {
  color: #fff;
  background-color: rgba(54,179,185,1);
  border-color: rgba(54,179,185,0.8);
}

.btn-epic:hover {
  color: #fff;
  background-color: #CC438A;
  border-color: #CC438A;
}

.btn-epic:focus, .btn-epic.focus {
  color: #fff;
  background-color: #CC438A;
  border-color: #CC438A;
  box-shadow: 0 0 0 0.2rem rgba(151, 153, 166, 0.5);
}

.btn-epic.disabled, .btn-epic:disabled {
  color: #fff;
  background-color: #858796;
  border-color: #858796;
}

.btn-epic:not(:disabled):not(.disabled):active, .btn-epic:not(:disabled):not(.disabled).active,
.show > .btn-epic.dropdown-toggle {
  color: #fff;
  background-color: #CC438A;
  border-color: #CC438A;
}

.btn-epic:not(:disabled):not(.disabled):active:focus, .btn-epic:not(:disabled):not(.disabled).active:focus,
.show > .btn-epic.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(151, 153, 166, 0.5);
}



.btn-epic-sm {
  color: rgba(54,179,185,0.5) !important;
  background-color: transparent;
  border-color: transparent;
  width: 1rem !important;
  border: 0 !important ;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn-epic-sm:hover {
  color: rgba(54,179,185,1) !important;;
  width: 1rem !important;
  border: 0 !important ;
}

.btn-epic-sm:focus, .btn-epic-sm.focus {
  color: rgba(54,179,185,1) !important;;
  width: 1rem !important;
  border: 0 !important ;
}

.btn-epic-sm.disabled, .btn-epic-sm:disabled {
  color: #858796;
  width: 1rem !important;
  border: 0 !important ;
}

.btn-epic-sm:not(:disabled):not(.disabled):active, .btn-epic-sm:not(:disabled):not(.disabled).active,
.show > .btn-epic-sm.dropdown-toggle {
  color: #858796;
  width: 1rem !important;
  border: 0 !important ;
}

.btn-epic-sm:not(:disabled):not(.disabled):active:focus, .btn-epic-sm:not(:disabled):not(.disabled).active:focus,
.show > .btn-epic-sm.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(151, 153, 166, 0.5);
  width: 1rem !important;
  border: 0 !important ;
}
.disabled
{
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
}

.my-epic-profile .card-header a.section:before {
    font-family: 'Font Awesome 5 Pro';
    content: "\f106";
    margin-right: 10px;
}

.my-epic-profile .card-header a.section.collapsed:before {
    font-family: 'Font Awesome 5 Pro';
    content: "\f107";
    margin-right: 10px;
}

 .epic.h1{
    font-size: 1.2rem;
  }
  .epic.h2{
    font-size: 1rem;
  }
   .epic.h3{
    font-size: .95rem;
  }
   .epic.h4{
    font-size: .85rem;
  }
   .epic.h5{
    font-size: .75rem;
  }
   .epic.h6{
    font-size: .65rem;
  }
  .coaching {
    padding: 10px;
    padding-left: 0;
}

  .coaching:hover .actions {
    color: #36b3b9;
}
.coaching .actions{
display: grid;
    font-size: 1rem;
    color: #e9e9e9;
    text-align: center;
}  
.coaching .actions i {
    padding: 2px;
}  
.top-container
{
  position: fixed;
  width: -webkit-fill-available;
z-index: 2000;
}

.tf-card{
  flex-direction: column; 
  min-width: 0; 
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box; 
  border: 1px solid #e3e6f0;
  padding: 2rem;
}

#tf-container .title {
    color: #36b3b9;
    clear: both;
    display: block;
    font-family: "LatoWeb";
    font-size: 1.5rem;
    width: 100%;
    font-weight: 600;
    font-variant: all-petite-caps;
}

#tf-container .subtitle {
    color: #36b3b9;
    clear: both;
    display: block;
    font-family: "LatoWeb";
    font-size: .95rem;
    width: 100%;
}

.created_by {
    font-size: 0.65rem;
    font-style: italic;
}
select:focus {
  box-shadow: none !important;
  border-color: #36b3b9;
}
.form-control:focus {
  box-shadow: none !important;
  border-color: #36b3b9;
}
input:focus {
  box-shadow: none !important;
  border-color: #36b3b9;
}


.select2-selection--single:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-bottom: 1px solid #36b3b9 !important;

}

.select2-selection--default:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    

}

.select2-search__field:focus{
outline:none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-color: red;
    background-color: #36b3b9;

}



.select2-container--default .select2-selection--single {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-bottom: 1px solid #d1d3e2;
}

.select2-selection--single:focus{
      border: 0;
   box-shadow: none !important;
  border-color: #36b3b9;
}

.select2-selection__rendered:focus{
      border: 0;
   box-shadow: none !important;
  border-color: #36b3b9;
}

.select2-selection--default:focus{
      border: 0;
   box-shadow: none !important;
  border-color: #36b3b9;
}

.gj-datepicker-bootstrap [role=right-icon] button {
    width: 36px;
    font-size: .95rem;
    position: relative;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #d1d3e2;
}


.btn-epic-xl-primary {
  color: #75787b;
  border-color: #75787b;
}

[class*="btn-epic-xl-"]{
  margin-left: .5rem;
  font-size: .85rem;
  min-width: 6rem;
}

[class*="btn-epic-xl-"]:hover{
  color: #FFFFFF !important;
  background: #36b3b9 !important;
  border-color:#36b3b9; 
  text-decoration: none;
}

[class*="btn-epic-xl-"]:focus{
  color: #36b3b9 !important;
  font-size: 1.2rem;
  border-color:#36b3b9; 
  text-decoration: none;
}

.gj-datepicker .input-group-append .btn{
  padding:0;
}

.img-profile{
     display: block;
    width: auto;
    max-height: 8.5rem;
}

.button-container{
display:inline-block;
position:relative;
}

.button-container a{
position: absolute;
top:.3em;
right:.3em;
background: rgba(60,61,56,.5);
color:white;
text-transform:uppercase;
padding:.4em .5em .4rem .5rem;
}

.button-container a:focus, .button-container a:hover {
  color: white;
  background: #36b3b9 !important;
}

a.btn-guaramo-text{
  font-size:.85rem;
  color:#3c3d38;
      font-weight: 600;
  cursor: pointer;
  text-decoration:underline;
}
a.btn-guaramo-text:hover{
  color:#36b3b9;
  text-decoration:underline;
}


.btn-epic-2 i {
  font-weight: 400;
}
.btn-epic-2{
  position: absolute;
  top:0;
  right:.3em;
  background: rgba(54,179,185,.5);
  color:white;
  text-transform:uppercase;
  padding: .25em .375em 0 .375em;
  min-width: 0;
  color: white !important;
}
.btn-epic-2:focus, .btn-epic-2:hover {
  color: white !important;
  font-size: .85rem;
   background: rgba(54,179,185,1);
  
}


.btn-epic-2.xl{
  color: white !important;
  font-size: 1rem;
  padding: .45em .5em 0 .5em;
  position: relative;
}
.btn-epic-2:focus, .btn-epic-2:hover {
  color: white !important;
  font-size: 1rem;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file {
    position: absolute;
    text-align: left;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
  .evaluation-group {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}
.evaluation-criteria {
    padding-top: 10px;
    padding-bottom: 10px;
}
.evaluation_box {
    margin-top: 15px;
    margin-bottom: 15px;
}
.form-check-label {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}
.form-check-input {
    position: relative;
    margin: 0;
    height: .75rem !important;
    width: 1.5rem;
}
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #d1d3e2;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  outline: none;
  z-index: 1000;
  margin: auto;
}
.option-input:hover {
  background: #1ABC9C;
}
.option-input:checked {
  background: #1ABC9C;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '\25CF';
  display: inline-block;
  font-size: 27px;
  text-align: center;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #1ABC9C;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}


.vertical-heighest-first
{
     -webkit-transform:rotate(270deg);
     -moz-transform:rotate(270deg);
     -o-transform:rotate(270deg);
     -ms-transform:rotate(270deg);
     transform:rotate(270deg);
}

.vertical-lowest-first {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


.list-group.priority{
 margin-top: 5px;
}
.list-group.priority .list-group-item{
     margin-top: 10px;
    border: 0;
    text-align: end;
}

.vertical-heighest-first {
       height: 140px;
    width: 120px !important;

}
.vertical-lowest-first {
       height: 140px;
    width: 120px !important;

}





input[type=range]::-moz-range-thumb {
  width: 42px;
  height: 42px;
  background: #ffffff;
  border: 1.8px solid #ffffff;
  border-radius: 49px;
  cursor: pointer;
}


input[type=range] {
  width: 100%;
  margin: 5.75px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
   background: #d1d3e2;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 11.5px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -5.75px;
  width: 23px;
  height: 23px;
  background: #36b3b9;
  border: 10px solid #36b3b9;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-thumb {
 -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 6px #36b3b9;
 box-shadow: 0 0 0 3px #fff, 0 0 0 6px #36b3b9;
}

input[type=range].priority-1::-webkit-slider-thumb {
  background: #A7C85B;
  border: 10px solid #A7C85B;
}

input[type=range].priority-1:focus::-webkit-slider-thumb {
 -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 6px #A7C85B;
 box-shadow: 0 0 0 3px #fff, 0 0 0 6px #A7C85B;
}

input[type=range].priority-2::-webkit-slider-thumb {
  background: #FBE12B;
  border: 10px solid #FBE12B;
}

input[type=range].priority-2:focus::-webkit-slider-thumb {
 -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 6px #FBE12B;
 box-shadow: 0 0 0 3px #fff, 0 0 0 6px #FBE12B;
}

input[type=range].priority-3::-webkit-slider-thumb {
  background: #FF7F27;
  border: 10px solid #FF7F27;
}

input[type=range].priority-3:focus::-webkit-slider-thumb {
 -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 6px #FF7F27;
 box-shadow: 0 0 0 3px #fff, 0 0 0 6px #FF7F27;
}
input[type=range]::-moz-range-track {
  background: rgba(255, 113, 169, 0.78);
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 11.5px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 23px;
  height: 23px;
  background: #878aff;
  border: 10px solid #878aff;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 5.75px 0;
  color: transparent;
  width: 100%;
  height: 11.5px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #ff71a9;
  border: 0;
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: rgba(255, 113, 169, 0.78);
  border: 0;
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  width: 23px;
  height: 23px;
  background: #878aff;
  border: 10px solid #878aff;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 113, 169, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: #ff71a9;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}



fieldset .container{
  padding: 0;
  padding-right: 5px;
}
.priority-range-container {
  z-index: 100;
}
.priority-container {
    position: absolute;
    display: flex;
    padding-left: 80px !important;
    background: transparent;
    z-index: 90;
}

.priority .list-group-item:before{
   font-family: 'Font Awesome 5 Pro';
    content: "\f104";
    margin-right: 10px;
}

.priority.epl-1 .list-group-item.priority-1{
  color: #A7C85B;
}

.priority.epl-2 .list-group-item.priority-2{
  color: #FBE12B;
}

.priority.epl-3 .list-group-item.priority-3{
  color: #FF7F27;
}

.badge.c3-3{
  color: #fff;
    background-color:#FF7F27;
}

.badge.c3-2{
  color: #fff;
    background-color:#FBE12B;
}
.badge.c3-1{
  color: #fff;
    background-color:#A7C85B;
}
.badge.c3-{
  color: #fff;
    background-color:#858796;
}

.epic-status-1{
  color:#1ABC9C;
}
.epic-status-2{
  color:#3498DB;
}
.epic-status-3{
  color:#E67E22;
}
.epic-status-4{
  color:#EA4335;
}
.epic-status-5{
  color:#95A5A6;
}
.epic-status-6{
  color:#36b3b9;
}

.percentage input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.percentage input[type=number]::-webkit-inner-spin-button,
.percentage input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.circle-progress {
      position: relative;
    right: 1.2rem;
  background: #417774;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  width: 3rem;
  height: 3rem; 
  border-radius: 50%;
  padding-top: .9rem;
  font-size: .75rem;
}



.progress-input-container {
    position: absolute;
    display: flex;
    padding-left: 80px !important;
    background: transparent;
    z-index: 90;
}

.progress-input-container .list-group {
 border: 0;
}
.progress-input-container .list-group .list-group-item{
  padding: 1rem 0;
  border: 0;
  margin:auto;
}

.progress-input-container .list-group .list-group-item a{
  position: absolute;
    top: 0;
    right: .3em;
    background: rgba(26, 188, 156,.5);
    color: white;
    text-transform: uppercase;
    padding: .25em .375em 0 .375em;
    min-width: 0;
    color: white !important;
}

.progress-input-container .list-group .list-group-item a:hover{
  background: rgba(26, 188, 156,1);
} 
.progress-input-container .list-group .list-group-item a:focus{
  background: rgba(26, 188, 156,1);
}  
.post-profile-photo{
      width: 4.7rem;
    }

.morecontent .more {
   /* display: none;*/
}

.more-comment{
  /*display: none;*/
}
.morelink {
    display: block;
    color: #36b3b9;
    cursor: pointer;

}

.post-created-by{
  font-size: .75rem;
  text-transform: uppercase;
}
.post-business-title{
  font-size: .75rem;
}
.post-email-account{
  font-size: .75rem;
  
}
.post-ago{
  font-size: .65rem;
  font-style: italic;
  color: rgba(45, 41, 38, 0.6);
}
.post-title{
  text-transform: uppercase;
  font-size: 1rem;
  color: #000;
}
.post-comment{
  font-size: .75rem;
  display: block;
  margin-bottom: .25rem;
}
.more-comment .morelink{
  display: block;
}
.all-comment{
   font-size: .75rem;
   display: block;
   cursor: pointer;
}
.all-comment-hide{
  display: none;
}


.likes {
    font-size: .75rem;
    font-style: italic;
    padding: .25rem 0;
    margin-bottom: 0;
}

 .post-page.active{
       display: block;
     }
     .post-page{
       display: none;
     }

     .more, .more-comment, .morecontent{
      font-size: .75rem;
      display: block;
     }
.post .feedback{
  font-size: 1.25rem;
  margin-bottom: 0;
}    
.feedback .like{
  color:#EA4335;
} 
.feedback .commented{
  color:#16A085;
} 
.modal {
  top:6rem;
  z-index: 99999;
}

.card-header{
  color: #2D2926;
}

.epic-input-group [role=right-icon] {
    cursor: pointer;
}

.epic-input-group .input-group-append .btn {
    padding: 0;
}

.badge-pill.tag {
    border: 1px solid #696969;
    font-weight: 400;
    margin-right: 5px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.epic-title{
  font-size: 1rem;
  font-style: italic;
  color: #000;
}

.dark {
    background: #2D2926;
    padding: 1rem .5rem;
    color:#fff;
}

.dark .epic-title{
  color: #fff;
}

.btn-epic-full {
    margin-left: 0; 
    width: -webkit-fill-available;
}

.photo-bg-1{
  background-color:#8E44AD;
}
.photo-bg-2{
  background-color:#187BCD;
}
.photo-bg-3{
  background-color:#1ABC9C;
}
.photo-bg-4{
  background-color:#FBE12B;
}
.photo-bg-5{
  background-color:#FF437F;
}

[class*="category-bg-"] {
    color: #fff;
    font-weight: normal;
}
.category-bg-1{
  background-color:#8E44AD;
}
.category-bg-2{
  background-color:#187BCD;
}
.category-bg-3{
  background-color:#1ABC9C;
}
.category-bg-4{
  background-color:#FBE12B;
}
.category-bg-5{
  background-color:#FF437F;
}
.list-group-link{
  cursor: pointer;
}

.epic-title.xl{
  font-size: 1.7rem;
}

.info-panel{
  padding: 0 .8rem;
}

.modal{
  z-index: 9999;
  top:92px;
 }

 .modal-content {
    border: 0;
    border-radius: 0;
}
.bg-okrs{
  background-color: #8E44AD !important;
}
.bg-on-job{
  background-color: #187BCD !important;
}
.bg-self-training{
  background-color: #1ABC9C !important;
}
.bg-critical{
  background-color: #F39C12 !important;
}
.bg-learning{
  background-color: #FF437F !important;
}
.bg-perfomance{
  background-color: #D60404 !important;
}

.team-epic-profile.me {
    border-top: 0;
    margin-top: 0;
}


.divided-circle {
   margin: 40px auto 0;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
 .divided-circle:before, .divided-circle:after {
   content: '';
   width: 60px;
   height: 120px;
}
 .divided-circle:before {
   float: left;
   border-top-left-radius: 60px;
   border-bottom-left-radius: 60px;
   background: #f6303e;
}
 .divided-circle:after {
   float: right;
   border-top-right-radius: 60px;
   border-bottom-right-radius: 60px;
   background: #1ab15d;
}


.two-circle {
  width: 136px;
  height: 136px;
  background: linear-gradient( 180deg, #bbbbbb, #bbbbbb 49%, #3c3d38 51% ); 
  border-radius: 50%;
}

.two-circle.p1 {
  background: linear-gradient( 180deg, #D35400, #D35400 49%, #3c3d38 51% ); 
}
.two-circle.p2 {
  background: linear-gradient( 180deg, #2ECC71, #2ECC71 49%, #3c3d38 51% ); 
}
.two-circle.p3 {
  background: linear-gradient( 180deg, #36b3b9, #36b3b9 49%, #3c3d38 51% ); 
}

.digital-badget{
  width: 5rem;
  height: auto;
}

a.text-link{
  font-size:.85rem;
  color:#3c3d38;
  cursor: pointer;
  text-decoration:underline;
}
a.text-link:hover{
  color:#36b3b9;
  text-decoration:underline;
}
  .name-profile {
    font-size: 1.5rem;
    font-weight: bold;
    color: #36b3b9;
}

.info-panel .container {
    padding: 0;
    padding-right: 5px;
}

.input-group-text {
  background-color: transparent;
}

.input-group:hover .input-group-text{
   background-color: transparent;
   color:#36b3b9;
   border-radius: 0;
    border-bottom: 1px solid #36b3b9 !important;
}

.coaching .d-flex {
  border-radius: 5px;
}

#cu_forecast_dt .fixed{
    width: 10%; 

  }
  .c-chart .card{
    padding: 0;
    border: none !important;
  }
  .c-chart .card-body{
    padding: 0;
  }
  .c-chart .chart-container{
    padding: 0;
  }
.fixed-height-chart{
  height: 450px;
}
.my-primary-color {
    color: #36b3b9 !important;
}   

.heading-title
{
  margin-bottom: 100px;
}
#accordion .panel{
    border: none;
    box-shadow: none;
    margin-bottom: 5px;
}

#accordion .panel-heading{
    padding: 0;
    border: none;
    background: transparent;
}

#accordion .panel-title a{
    display: block;
    padding: 14px 50px 14px 30px;
    font-size: .9rem;
    color: #fff;
    background: #36b3b9;
    position: relative;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

#accordion .panel-title a.collapsed{
    border-radius: 5px;
}


#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f106";
    font-family: 'Font Awesome 5 Pro';
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 30px;
}

#accordion .panel-title a.collapsed:before{
    content: "\f107";
}

#accordion .panel-body{
    font-size: 14px;
    color: #555;
    line-height: 25px;
    position: relative;
    border: none;
}


.accordion .panel{
    border: none;
    box-shadow: none;
    margin-bottom: 5px;
}

.accordion .panel-heading{
    padding: 0;
    border: none;
    background: transparent;
}

.accordion .panel-title a{
    display: block;
    padding: 14px 50px 14px 30px;
    font-size: .9rem;
    color: #fff;
    background: #36b3b9;
    position: relative;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.accordion .panel-title a.collapsed{
    border-radius: 5px;
}


.accordion .panel-title a:before,
.accordion .panel-title a.collapsed:before{
    content: "\f106";
    font-family: 'Font Awesome 5 Pro';
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 30px;
}

.accordion .panel-title a.collapsed:before{
    content: "\f107";
}

.accordion .panel-body{
    font-size: 14px;
    color: #555;
    line-height: 25px;
    position: relative;
    border: none;
}


.gTable td, .gTable th {
  font-size: .9rem;
 padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


@media (max-width: 1200px) {
  .gTable td, .gTable th {
    font-size: calc(.4rem + 1vw);
    padding: .75rem .25rem;
  }
}

