li .independence {background:#36b3b9 !important;color:#ffffff;}
li .charcoal {background:#264653 !important;color:#ffffff;}
li .dark-slate-gray {background:#275c62 !important;color:#ffffff;}
li .skobeloff {background:#287271 !important;color:#ffffff;}
li .celadon-green {background:#298880 !important;color:#ffffff;}
li .persian-green {background:#2a9d8f !important;color:#ffffff;}
li .shiny-shamrock {background:#5aa786 !important;color:#ffffff;}
li .asparagus {background:#8ab17d !important;color:#ffffff;}
li .dark-khaki {background:#babb74 !important;color:#ffffff;}
li .orange-yellow-crayola {background:#e9c46a !important;color:#ffffff;}
li .orange-yellow-crayola-2 {background:#ebc978 !important;color:#ffffff;}
li .sunray {background:#efb366 !important;color:#ffffff;}
li .rajah {background:#f2ab64 !important;color:#ffffff;}
li .sandy-brown {background:#f4a261 !important;color:#ffffff;}
li .atomic-tangerine {background:#f1965d !important;color:#ffffff;}
li .mandarin {background:#ee8959 !important;color:#ffffff;}
li .burnt-sienna {background:#eb7c55 !important;color:#ffffff;}
li .burnt-sienna-2 {background:#e76f51 !important;color:#ffffff;}
li .burnt-sienna-3 {background:#e87659 !important;color:#ffffff;}
li .terra-cotta {background:#e97c61 !important;color:#ffffff;}
li .middle-red {background:#eb886f !important;color:#ffffff;}

li span.rounded-circle{
      padding: .4rem .3rem .3rem .3rem;
    margin-right: .1rem;
}

.pz {
  padding: 0;
}
.btn-room{
  width: -webkit-fill-available;
  padding:0;
  margin: 0;
  border:0;
}
.btn-room-full {
    margin-left: 0;
    width: -webkit-fill-available;
    border-radius: 0;
    margin: 1rem;
}


.black-olive{
  background-color: #3C3D38;  
  color:#fff;
  border:0;
}
.black-olive .border-right {
    border-right: 1px solid #fff !important;
}
.black-olive .btn-room-full {
  border: 1px solid #fff;
  color: #fff;  
} 
.black-olive .btn-room-full:hover {
  background-color: #fff;
  color: #3C3D38;  
} 


.dim-gray{
  background-color: #686A62;  
  color:#fff;
  border:0;
}
.dim-gray .border-right {
    border-right: 1px solid #fff !important;
}
.dim-gray .btn-room-full {
  border: 1px solid #fff;
  color: #fff;  
} 
.dim-gray .btn-room-full:hover {
  background-color: #fff;
  color: #686A62;  
} 


.dark-khaki{
  background-color: #cacf85ff;  
  color:#000;
  border:0;
}
.dark-khaki .border-right {
    border-right: 1px solid #000 !important;
}
.dark-khaki .btn-room-full {
  border: 1px solid #000;
  color: #000;  
} 
.dark-khaki .btn-room-full:hover {
  background-color: #000;
  color: #cacf85ff;  
} 
.dark-sea-green{
  background-color: #8cba80ff;  
  color:#fff;
  border:0;
}
.dark-sea-green .border-right {
    border-right: 1px solid #000 !important;
}
.dark-sea-green .btn-room-full {
  border: 1px solid #000;
  color: #000;  
} 
.dark-sea-green .btn-room-full:hover {
  background-color: #000;
  color: #8cba80ff;  
} 
.steel-teal{
  background-color: #658e9cff;  
  color:#fff;
  border:0;
}
.steel-teal .border-right {
    border-right: 1px solid #fff !important;
}
.steel-teal .btn-room-full {
  border: 1px solid #fff;
  color: #fff;  
} 
.steel-teal .btn-room-full:hover {
  background-color: #fff;
  color: #658e9cff;  
} 
.antique-fuchsia{
  background-color: #905d88ff;  
  color:#fff;
  border:0;
}
.antique-fuchsia .border-right {
    border-right: 1px solid #fff !important;
}
.antique-fuchsia .btn-room-full {
  border: 1px solid #fff;
  color: #fff;  
} 
.antique-fuchsia .btn-room-full:hover {
  background-color: #fff;
  color: #905d88ff;  
} 

.cornflower-blue{
  background-color: #8390faff;  
  color:#fff;
  border:0;
}

.cornflower-blue .border-right {
    border-right: 1px solid #fff !important;
}
.cornflower-blue .btn-room-full {
  border: 1px solid #fff;
  color: #fff;  
} 
.cornflower-blue .btn-room-full:hover {
  background-color: #fff;
  color: #8390faff;  
} 
.room-container{
  padding: 0;
  margin: 0;
}
.room{
  margin-bottom: 1rem;
  padding: 0;
}


.room .name{
  font-size: 1.2rem;
  font-weight: 600;   
  padding: 0;
}
.room .kpi{
  font-size: .85rem;
  font-weight: 500;   
  padding: 0;
  text-decoration: underline;
}

.room .kpi-value{
  font-size: 2rem;
  font-weight: 600;   
  padding: 0;
}


@media (min-width: 768px){
  .room-container{
    padding: 0 2rem 0 0;
    margin: 0;
  }
  .btn-room-full {
      margin: 1rem .75rem 1rem 2.7rem;
    }
}


.grow2{
transition: 1s ease;
}

.grow2:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1s ease;
z-index: 1000;
}


  .list-group-flush {
    border-radius: 0;
}
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
.list-group-flush > .list-group-item {
    border-width: 0 0 1px;
    padding-left: 1rem;
}
.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .5rem .5rem .5rem 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-link {
    width: 100%;
    cursor: pointer;
    color: #3c3d38 !important;
}
.list-group-link:hover {
    color: #36b3b9 !important;
}
.badge-room {
    min-width: 2rem;
    padding: .3rem .5rem;
}

  .bugs {
    color: #db4a39;
  }
  .bugs:before {
    font-family: 'Font Awesome 5 Pro';
    content: "\f188";
    margin-right: .5rem;
    color: #db4a39;
  }
    .harvest {
    color: #0F9D58;
  }
  .harvest:before {
    font-family: 'Font Awesome 5 Pro';
    content: "\f4bf";
    margin-right: .5rem;
    color: #0F9D58;
  }


  