/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8f9fa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c3d38;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div[class*="col-"] {
    float: left;
}


div.card{
  padding: 1rem 1rem 5rem 1rem;
  border-radius: 0;
}

div.card .title {
    color: #3c3d38;
    clear: both;
    display: block;
    font-family: "LatoWeb";
    font-size: .85rem;
    width: 100%;
    font-weight: 600;
}
div.card .subtitle {
    color: #3c3d38;
    clear: both;
    display: block;
    font-family: "LatoWeb";
    font-size: .95rem;
    font-style: italic;
    width: 100%;
    font-weight: 600;
}
 #wrapper {
    overflow: hidden;
 }

#sidebar-wrapper {
  background-color: #3c3d38;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  padding-bottom: 10rem;

}

#sidebar-wrapper .sidebar-heading {
  padding: 0.35rem 1.25rem;
  font-size: 1.2rem;
}


#sidebar-wrapper .sidebar-heading .navbar-brand .logo {
    height: 3rem;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
  padding-bottom: 10rem;
}


#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  box-shadow: 0;
}

.window-open{
    display: none;
  }

@media (min-width: 768px) {
  .window-open{
    display: inherit;
  }

  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}


 .left-menu  {
      width: 15rem;
      display: flex;
    }
    .left-menu ul  {
      width: 100%;
    }
    .left-menu  li > a {
      background: none !important;
      color: #FFFFFF !important;
      display: inline-block;
      font-family: "LatoWeb";
      font-size: 0.8rem;
      line-height: 1rem;
      position: relative;
      width: 100%;
      cursor: pointer;
     }
     .left-menu  li > a:hover {
        color: #36b3b9  !important;
    }  
    .left-menu  li > a:active {
        color: #36b3b9  !important;
    }  

    .left-menu .dropdown-toggle:before {
      content: "\f107";
      color: #FFFFFF;
      font-family: "Font Awesome 5 Free";
      font-style: normal;
      font-weight: 900;
      font-size: 0.8rem;
      position: absolute;
      right: 0;
      text-align: right;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
  }


    .left-menu .dropdown-toggle::after {
       display:none;
     } 

    .left-menu .navbar-nav .dropdown-menu {
    background: transparent;
    border: 0;
    }

    .left-menu .navbar-nav .dropdown-menu  a {
      background: none !important;
      color: #FFFFFF !important;
      display: inline-block;
      font-family: "LatoWeb";
      font-size: 0.8rem;
      line-height: 1rem;
      position: relative;
      width: 100%;
     }
    
    .left-menu .navbar-nav .dropdown-menu  a:hover {
      color: #36b3b9  !important;
     }
     .left-menu .navbar-nav .dropdown-menu  a:active {
      color: #36b3b9  !important;
     }

    .left-menu .navbar-nav .dropdown-menu .dropdown-item {   
      padding: .25rem 0.5rem;
      cursor: pointer;
     } 

     .nav-item.dropdown.show a.nav-link  {
       color: #36b3b9  !important;
     }

   #menu-toggle {
    position: absolute;
    font-size: 1.2rem;
    padding: .5rem .5rem 0 0;
    color: #3c3d38;
   }
   #menu-toggle:hover {
    color: #36b3b9;
   } 
    #navbarSupportedContent {
   width: -webkit-fill-available;
       display: -webkit-inline-box;
 }
   #navbarSupportedContent .navbar-nav {
    flex-direction: row;
} 

#navbarSupportedContent .navbar-nav .nav-link img.profile{
  height: 1.5rem;
  width: 1.5rem;
}


#navbarSupportedContent .navbar-nav .nav-link {
    font-size: 1.2rem;
    padding: .5rem 0 0 .5rem;
    color: #3c3d38;
    cursor: pointer;
}
#navbarSupportedContent .navbar-nav .nav-link:hover {
    color: #36b3b9;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.modal-title {
 color: #3c3d38;
  clear: both;
  display: block;
  font-family: "LatoWeb";
  font-size: 1.1rem;
  font-style: italic;
  width: 100%;
  font-weight: 600;
  padding-left: 1rem; 
}
i.i-circle {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  margin-right: .2rem;
}

.is-disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.bg-light {
    background-color: #fff!important;
  }

  #tf-container{
    padding-right: 0;
    padding-left: 0;
  }
  .form-frame{
    padding-right: 0;
    padding-left: 0;
  }
  .shadow {
    box-shadow: none !important;
}
.card{
 border:0;
}  

@media (min-width: 768px) {
  .bg-light {
    background-color: #f8f9fa!important;
  }
   #tf-container{
    padding-right: 15px;
    padding-left: 15px;
  }
  .form-frame{
    padding-right: 15px;
    padding-left: 15px;
  }
  .shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
   .loading-logo {
    width: 250px !important;
  }
  .loading-bar {
    margin-top: -80px !important;
    width: 250px !important;
   } 
}  
 

.loading-logo {
  margin-top: 20%;
  width: 90%;
}


.loading-bar {
    margin-top: 50%;
    width: 90%;
} 

  div.disabled
{
  pointer-events: none;
  opacity: 0.7;
}



.list-group .form-control[type="number"]::-webkit-inner-spin-button,
.list-group .form-control[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  border:0;
}
.form-horizontal .list-group-item{  
  padding-left:0;
  padding-right:0;
}
.form-horizontal .list-group-item div[class*="col-"]{  
  padding-left:0;
  padding-right:0;
}
.list-group .form-control{  
  border:0;
}

.list-group .btn-link{
  border:0;
  cursor: pointer;
}

.list-group .btn-plus{
  margin: auto;
  color:#3c3d38;

}
.list-group .btn-minus{
  margin: auto;
  color:#3c3d38;
}

.list-group .btn-plus:hover{
  margin: auto;
  color:#36b3b9;

}
.list-group .btn-minus:hover{
  margin: auto;
  color:#36b3b9;
}

#loading {
    background: #333333;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#loading .d-flex{
   height: 100%;
}   

#loading .d-flex{
   height: 100%;
}   