.nav-btn {
      position: fixed;
      right: 0;
      bottom: .5rem;
      width: 2rem;
      text-align: center;
      color: #fff;
      line-height: 46px;
      margin-right: .75rem;
      z-index: 10000;
    }
    .nav-btn .btn {
        position: relative;
        margin-top: .5rem;
        background: #3c3d38;
    }
    .btn-guaramo:focus, .btn-guaramo:hover {
        color: white !important;
        font-size: 1rem;
    }
    .btn-guaramo {
        color: white !important;
        font-size: 1rem;
        padding: .4em .5em .4rem .5rem;
        position: relative;
        background: #3c3d38;
    }
    .btn-guaramo:focus, .btn-guaramo:hover {
        color: white !important;
        background: #36b3b9;
    }