







 .timeline {
    padding: 0 1rem;
}
 
 .timeline p {
   font-size: 1em;
   line-height: 1.75em;
   border-top: 3px solid;
   border-image-slice: 1;
   border-width: 3px;
   margin: 0;
   padding: 40px;
   counter-increment: section;
   position: relative;
   color: #34435e;
}
 .timeline p:before {
   font-family: 'Font Awesome 5 Pro';
    content: " ";
    position: absolute;
    margin-top: 1rem;
    border-radius: 50%;
    padding: .5em;
    height: 2em;
    width: 2em;
    background-color: #3c3d38;
    text-align: center;
    line-height: 1.25em;
    color: #36b3b9;
    font-size: 1em;
}
 .timeline p:nth-child(odd) {
  border-left: 3px solid;
   padding-right: 0;
   text-align: left;
   
}
 .timeline p:nth-child(odd):before {
   right: 100%;
   margin-right: -12px;
}
 .timeline p:nth-child(even) {
   border-right: 3px solid;
   padding-left: 0;
   text-align: right;
}
 .timeline p:nth-child(even):before {
   left: 100%;
   margin-left: -12px;
}
 .timeline p:first-child {
  
   border-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}
 .timeline p:last-child {
  border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   
}
 
 .timeline p small {
   font-style: italic;
}
